language: python
python:
  - "3.5"
  - "3.6"
  - "3.7"
  - "3.8"
  - "3.9"

branches:
  only:
  - master

notifications:
  email:
    recipients:
    - zeek-commits-internal@zeek.org

before_install: pip3 install btest

install: python3 setup.py install

script: make test BTEST=`which btest`

after_failure: cat testing/diag.log
