name: BTest

on:
  pull_request:
  push:
    branches: [master]

jobs:
  Run-BTest:
    strategy:
      matrix:
        python-version: ["3.7", "3.8", "3.9", "3.10", "3.11"]
        os: [macos-latest, ubuntu-latest]

    runs-on: ${{ matrix.os }}
    steps:
      - name: Set up git config
        # Set autocrlf mode to false so that actions/checkout doesn't
        # modify the line endings in all of the files (mostly in the
        # test Baselines) to be \r\n on Windows.
        run: |
            git config --global core.autocrlf false
            git config --global core.eol lf
      - uses: actions/checkout@v3
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v4
        with:
            python-version: ${{ matrix.python-version }}
      - name: Install dependencies
        run: |
            python -m pip install btest
      - name: Install pysubnettree
        run: |
            python -m pip install --verbose -e .
      - run: |
            make test BTEST=`which btest`
